section {
	padding: 40px 0;
}
body {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
h5 {
	margin: 15px 0;
}
#img-portfolio {
	border-radius: 50%;
}

#skills,
#greeting,
#contact {
	padding: 40px 0;
}
.navbar {
	font-weight: 400;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
}
.navbar .navbar-brand h3 {
	font-weight: 100;
}
.navbar .nav-item {
	font-size: 1.3rem;
}
.navbar .nav-link:hover {
	transition: border 0.2s;
	border-bottom: 1px solid white;
}

p {
	line-height: 170%;
}

#showcase {
	background: url("https://images.unsplash.com/photo-1529917365646-d9b0d968d713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80")
		bottom center/cover no-repeat;
	min-height: 750px;
	position: relative;
	width: 100%;
}
#showcase #header {
	z-index: 2;
}
#showcase #overlay {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#showcase h1 {
	font-family: "Questrial", sans-serif;
	line-height: 1;
}
#showcase #book {
	font-size: 1.5rem;
	border-radius: 2rem;
}

@media (max-width: 768px) {
	#showcase h1 {
		font-size: 3rem;
	}
	#showcase {
		min-height: 500px;
	}
}

img {
	border-radius: 50%;
}
